<div class="container">
    <hr/>
    <img class="center img-responsive" src="\img\hackathon_stl_lg.png">
    <hr />
    <h3 rulesHeader><img class="inline img-responsive" src="\img\elevator.png"> Data Files</h3>

    <div class="jumbotron greenFontContainer">

        <div class="row">

            <div class="col-sm-8">
                <p class="lead text-justify explanationText">Click on the files on the right to download the JSON that simulates elevator traffic as detailed in the rules for the contest. Rememeber that the winner will be the team that has the highest average for all three datasets. The 2nd and
                    3rd datasets will be released during the contest.
                </p>
            </div>
            <div class="col-sm-4" class="data">
                <ul class="nav nav-tabs nav-stacked ">
                    <li><a class="data" href="/data/normaldaytraffic.zip">Elevator Traffic 1 <i class="glyphicon glyphicon-download"></i></a></li>
                    <li class="data"><a href="#">Elevator Traffic 2 <i class="glyphicon glyphicon-download"></i></a></li>
                    <li><a href="#">Elevator Traffic 3 <i class="glyphicon glyphicon-download"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>