<img class="center img-responsive" src="\img\hackathon_stl_stack.png">

    <div class="container">
        <container class="jumbotron">
            <h3 class="validationTitle">Invalid Entry</h3>
            <div class="well span4">
                <ul class="nav nav-list validation">
                        <li ng-repeat="validation in validations" class="active validation"><img class="validation img-responsive" src="\img\fail.png"></span>
                            {{validation}}
                        </li>
                </ul>
            </div>

        </container>
    </div>
